name: Website

on:
  push:
    branches: [ main, master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    container: rocker/r2u:latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        name: Cache R packages
        id: cache-r-packages
        with:
          path: |
            netdiffuseR_*
          key: ${{ runner.os }}-netdiffuseR-pkg

      - name: Install dependencies
        run: |
          install2.r igraph networkDynamic statnet Rcpp MatchIt remotes \
            SparseM viridisLite RcppArmadillo rmarkdown knitr microbenchmark

      - name: Install netdiffuseR
        run: |
          installGithub.r USCCANA/netdiffuseR

      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Build website
        run: |
          quarto render .

      - name: Upload website
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write      
      id-token: write   
    steps:
      - name: Deploy website
        uses: actions/deploy-pages@v4
