name: Website

on:
  push:
    branches: [ main, master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::igraph
            any::networkDynamic
            any::statnet
            any::Rcpp
            any::MatchIt
            any::remotes
            any::SparseM
            any::viridisLite
            any::RcppArmadillo
            any::rmarkdown
            any::knitr
            any::microbenchmark

      - name: Install netdiffuseR
        run: |
          Rscript -e 'remotes::install_github("USCCANA/netdiffuseR")'

      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Build website
        run: |
          quarto render .

      - name: Upload website
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write      
      id-token: write   
    steps:
      - name: Deploy website
        uses: actions/deploy-pages@v4
